﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Find Friends";
}


<script src="~/js/jquery.min.js"></script>
<script src="~/js/index.js"></script>

<div id="resultInit" class="row">

</div>
<div id="resultInvisible" class="row" style="display:none">

</div>
<br />
<br />
<fieldset id="fldNext">
    <legend>Amigos próximos:</legend>
    <div id="resultFriends" class="row">


    </div>
</fieldset>